#advancebookingcard {
  margin: 10px;
  text-align: center;
}
#advancebookingcard Button {
  width: 100%;
}

#advancebookingtotal {
  padding-top: 2%;
  width: 100%;
  text-align: center;
  font-size: large;
}

.fa-box-open {
  font-size: 100px;
}
