:root{
  --text-white:#FEFEFE;
  --text-gray:#777777;
  --background-black:#394141;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  color: #05386b;
  background-color: #5cdb95;

  font-family: "Montserrat";

  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
