:root{
  --text-black:#212121;
  --text-white:#FEFEFE;
  --text-logo:#8FD974;
  --text-gray:#777777;

  --background-green:#4CA456;
  --background-button:#09C4B3;
  --background-black:#394141;
  --background-dark:#026661;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  color: #05386b;
  background-color: #5cdb95;

  font-family: "Montserrat";

  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
